{% extends "editor/base.html" %}
{% load static %}

{% block title %}Editor{% endblock %}

{% block content %}
    <div id="editor-header">
        <input id="save-notes-btn" type="submit" value="save" form="form-container">
        <button id="add-note-btn" type="button" >Add Note</button>
    </div>
    <h1 id="page-title">{{ page.title }}</h1>
    <form id="form-container" action="{% url 'editor:page_content' page.id %}" method="post">
            {% csrf_token %}
            {{ notes_formset.management_form }}
            {% for form in notes_formset %}
                <div class="container note-form">
                    <div class="question" value="{% if form.question.value %}{{ form.question.value }}{% else %}{% endif %}">{{ form.question }}</div>
                    <div class="note">{{ form.text }}</div>
                    <div class="material-symbols-outlined" onclick="show_popup_menu(this)">drag_indicator
                        <div class="popup-menu">
                            <button id="delete-btn" onclick="delete_form(this.parentNode.parentNode.parentNode)">
                                Delete
                            </button>
                            {{ form.DELETE }}
                        </div>
                    </div>
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                </div>
            {% endfor %}
    </form>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/add_note.js' %}"></script>
    <script src="{% static 'scripts/popup_menu.js' %}"></script>
{% endblock %}
