{% extends "editor/base.html" %}

{% block title %}{{ notebook.title }}{% endblock %}

{% block content %}
    <h1>{{ notebook.title }}</h1>
    <table class="pages">
        <thead>
            <tr>
                <th>Title</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {% for page in pages %}
                <tr>
                    <td><a href="{% url 'editor:page_content' page.slug %}">{{ page.title }}</a></td>
                    <td>{{ page.notes.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}