{% extends "editor/base.html" %}
{% load static %}

{% block title %}{{ notebook.title }}{% endblock %}

{% block content %}
    <h1>{{ notebook.title }}</h1>
    <form id="form-container" method="post">
        {% csrf_token %}
        {{ pages_formset.management_form }}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th class="total-amount">Notes</th>
                </tr>
            </thead>
            <tbody id="container">
                <tr class="form" style="display:none;">
                    <td class="title">
                        <input type="text" name="form-0-title" value="" readonly="readonly" id="id_form-0-title">
                    </td>
                    <td class="total-amount">0</td>
                    <td class="material-symbols-outlined" onclick="showPopupMenu(this)">drag_indicator
                        <div class="popup-menu">
                            <a class="button" href="#">
                                Learn
                            </a>
                            <button class="rename-btn" onclick="renameRowForm(this.parentNode.parentNode.parentNode)">
                                Rename
                            </button>
                            <button class="delete-btn" onclick="deleteRowForm(this.parentNode.parentNode.parentNode)">
                                Delete
                            </button>
                            {{ notebook_form.DELETE }}
                        </div>
                    </td>
                </tr>
                {% for page_form in pages_formset %}
                    <tr class="form">
                        <td class="title"><a href="{% url 'editor:page_content' page_form.instance.id %}">{{ page_form.title }}</a></td>
                        <td class="total-amount">{{ page_form.instance.notes.count }}</td>
                        <td class="material-symbols-outlined" onclick="showPopupMenu(this)">drag_indicator
                                <div class="popup-menu">
                                    <a class="button" href="{% url 'learning:learn' 'page' page_form.instance.id %}">
                                        Learn
                                    </a>
                                    <button class="rename-btn" onclick="renameRowForm(this.parentNode.parentNode.parentNode)">
                                        Rename
                                    </button>
                                    <button class="delete-btn" onclick="deleteRowForm(this.parentNode.parentNode.parentNode)">
                                        Delete
                                    </button>
                                    {{ page_form.DELETE }}
                                </div>
                        </td>
                    </tr>
                    {% for hidden in page_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <button id="new-btn" type="button" >New Page</button>
    </form>
    <script src="{% static 'scripts/new_rename.js' %}"></script>
    <script src="{% static 'scripts/popup_menu.js' %}"></script>
{% endblock %}