{% extends "editor/base.html" %}
{% load static %}

{% block title %}Notebooks{% endblock %}

{% block content %}
    <h1>Notebooks</h1>
    <form id="form-container" method="post">
        {% csrf_token %}
        {{ notebooks_formset.management_form }}
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Pages</th>
                </tr>
            </thead>
            <tbody id="container">
                {% for notebook_form in notebooks_formset %}
                    <tr class="form">
                        <td class="title"><a href="{% url 'editor:notebook_content' notebook_form.instance.id %}">{{ notebook_form.title }}</a></td>
                        <td class="total-amount">{% if notebook_form.instance.pages.count %}{{ notebook_form.instance.pages.count }}{% else %}1{% endif %}</td>
                    </tr>
                    {% for hidden in notebook_form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <button id="new-btn" type="button" >New Notebook</button>
    </form>
    <script src="{% static 'scripts/new.js' %}"></script>
{% endblock %}