{% extends "editor/base.html" %}

{% block title %}Notebooks{% endblock %}

{% block content %}
    <h1>Notebooks</h1>
    <table class="notebooks">
        <thead>
            <tr>
                <th>Title</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody>
            {% for notebook in notebooks %}
                <tr>
                    <td><a href="{% url 'editor:notebook_content' notebook.slug %}">{{ notebook.title }}</a></td>
                    <td>{{ notebook.pages.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}