{% extends "editor/base.html" %}
{% load static %}

{% block title %}Editor{% endblock %}

{% block content %}
    <h1>Editor</h1>
    <input type="submit" value="save" form="notes_form">
    <form id="notes_form" class="container" action="{% url 'editor:notes_list' %}" method="post">
        {% csrf_token %}
        {{ notes_formset.management_form }}
        {% for form in notes_formset %}
            <div class="question" style="{% if not form.question.value %}display: none;{% endif %}">{{ form.question }}</div>
            <div class="note">{{ form.text }}</div>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        {% endfor %}
    </form>
    <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}
