{% extends "editor/base.html" %}
{% load static %}

{% block title %}Editor{% endblock %}

{% block content %}
    <h1>Editor</h1>
    <form class="container" action="{% url 'editor:notes_questions_list' %}" method="post">
        <input class="" type="submit" value="save">
        {% csrf_token %}
        {{ questions_formset.management_form }}
        {% for form in questions_formset %}
            <div class="question">{{ form.as_p }}</div>
        {% endfor %}
        {{ notes_formset.management_form }}
        {% for form in notes_formset %}
            <div class="note">{{ form.as_p }}</div>
        {% endfor %}
    </form>
    <script src="{% static 'scripts/main.js' %}"></script>
{% endblock %}
