{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/editor.css' %}" rel="stylesheet">
</head>
<body>
    <div id="sidebar">
        <div id="header">
            <span class="logo">Flashnote</span>
        </div>
        <ul class="user">
            {% if request.user.is_authenticated %}
                <li>
                    <div id="account-image"><img src="{% static 'images/account-circle.svg' %}"></div>
                    <div>{{ request.user.get_full_name|default:request.user.username|truncatechars:20 }}</div>
                    <div>{{ request.user.email|truncatechars:18 }}</div>
                </li>
                <li>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "home" %}class="selected"{% endif %}>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li {% if section == "notebooks" %}class="selected"{% endif %}>
                    <a href="{% url 'editor:notebooks_list' %}">Notebooks</a>
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>