@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

textarea {
  clear:both;
  padding:5px 5px;
  margin:3px 0;
  width:100%;
  height:15px;
  min-height:19px;
  resize:none;
  overflow:hidden;
  font-family:'Open Sans', helvetica, sans-serif;
  font-size:14px;
  border:1px solid #bbb;
  border-radius:5px;
  -webkit-transition:0.5s;
  transition:0.5s;
  outline:none;
}

textarea:focus {
    border:1px solid #6f42c1;
}

#save-notes-btn {
  float:right;
  background-color:#6f42c1;
  border:none;
  font-family:'Open Sans', helvetica, sans-serif;
  font-variation-settings:'wght' 700;
  font-size:14px;
  line-height:normal;
  color:#fff;
  border-radius:5px;
  margin:8px 10px;
  padding:5px 20px;
  min-width:0;
  transition:0.2s all;
  text-decoration:none;
  overflow:hidden;
  cursor:pointer;
}

#save-notes-btn:hover {
    background:#432874;
}

.popup-menu .button, .popup-menu button {
    min-width:60px;
    text-align:center;
    box-sizing:content-box;
    margin:4px 10px;
}

.confirm-button:active, #save-notes-btn:active {
    transform:scale(0.98);
    box-shadow:3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

table input {
    cursor:pointer;
    border:none;
    float:left;
}

table input:hover {
    color:#000;
    text-decoration:underline;
}

table .title {
    text-align:left;
}

table a {
    display: inline-block;
    width: 100%;
}

table input {
    width: 100%;
}

#editor-header {
    width:100%;
    height:44px;
    border-bottom:1px solid #bbb;
    background:#fff;
    position:-webkit-sticky;
    position:sticky;
    top:0;
}

#editor-header a {
    color:#000;
    text-decoration:none;
}

#editor-header a:hover {
    color:#6f42c1;
}

#page-title {
    border-bottom:none;
}

.container {
    display:grid;
    grid-template-columns:30% 50% 2%;
    grid-column-gap:20px;
}

.note {
    grid-column-start:2;
    width:100%;
}

.note textarea {
    padding:5px 10px 5px 5px;
}

.question[value=""] textarea {
    grid-column-start:1;
    width:100%;
    visibility:hidden;
    opacity:0;
    transition:visibility 0s, opacity 0.5s;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color:#808080;
  float:left;
  height:25px;
  margin:4px 0;
  cursor:grab;
  visibility:hidden;
  opacity:0;
  transition:visibility 0s, opacity 0.5s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  position:relative;
}

table td.material-symbols-outlined {
    border-bottom:none;
    padding:0;
    margin:10px 0;
}

.material-symbols-outlined:hover {
    background:#efefef;
    border-radius:5px;
}

.material-symbols-outlined .popup-menu {
  background-color:#efefef;
  color:#fff;
  border-radius:5px;
  display:none;
  position:absolute;
  top:0;
  left:30px;
  cursor:default;
}

.material-symbols-outlined .show {
  display:block;
}

.shown {
    visibility:visible !important;
    opacity:1 !important;
}

.material-symbols-outlined.shown {
    background:#efefef;
    border-radius:5px;
}

.deletion {
    display:none;
}

.note-form:hover textarea,
.question textarea:focus,
.question:not([value=""]) textarea,
.note-form:hover .material-symbols-outlined,
 tr.form:hover .material-symbols-outlined {
    visibility:visible;
    opacity:1;
}

#new-btn {
    float:left;
}

.confirm-button {
    float:left;
    margin:0 5px !important;
    font-weight:bold;
    background:#6f42c1;
    color:#fff;
    padding:5px 20px !important;
    border-radius:5px;
    min-width:0 !important;
    text-align:center;
    transition: 0.2s all;
    text-decoration: none;
    overflow:hidden;
    cursor:pointer;
}

.confirm-button:hover {
    background:#432874;
    color:#fff;
    text-decoration:none;
}

#source {
    display:inline-block;
    font-size:16px;
    margin-top:12px;
}